@import url(global.css);

header{
    height: 138px;
    background-color: var(--brackground-secondary-color);
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 48px;
}

.header-logo {
    width: 68px;
    height: 64px;
    /* margin: 37px 0 0 48px; */
}

nav{
    display: none;
}