@import url(global.css);

header{
    width: 100%;
    height: 138px;
    background-color: var(--brackground-secondary-color);
    align-items: center;
    padding: 8px 30px;
    border: solid #000000 16px;
}

.header-logo {
    width: 68px;
    height: 64px;
    /* display: inline-block; */
}