@import url(global.css);

header {
    height: 138px;
    background-color: var(--brackground-secondary-color);
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 48px;
    position: relative;
}

.header-logo {
    width: 68px;
    height: 64px;
    /* margin: 37px 0 0 48px; */
}

nav {
    display: none;
}

input[type="checkbox"]:checked~nav {

    display: block;
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: var(--brackground-secondary-color);
}

.list-links li {
    padding-left: 20px;
    margin: 16px;
}

.list-links li a{
    color: var(--text-primary-color);
    text-decoration: none;
}