.hero-img {
    width: 100%;
    height: 400px;
    background-image: url(../img/Mobile/banner-Hero.png);
    background-repeat: no-repeat;
    background-size: cover;
}

@media screen and (min-width: 768px){
   .hero-img {
    width: 100%;
    height: 620px;
    background-image: url(../img/Tablet/Banner-tablet.png);
    background-repeat: no-repeat;
    background-size: cover;
}
 
}


@media screen and (min-width: 1024px){
   .hero-img {
    width: 100%;
    height: 620px;
    background-image: url(../img/Desktop/banner-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
 
}